[libdefaults]
  default_realm = {{ ipa_realm }}
  dns_lookup_realm = true
  dns_lookup_kdc = true
  rdns = false
  ticket_lifetime = 24h
  forwardable = yes

[realms]
  {{ ipa_realm }} = {
    kdc = {{ ipa_server }}
    admin_server = {{ ipa_server }}
  }

[domain_realm]
  .{{ ipa_domain }} = {{ ipa_realm }}
  {{ ipa_domain }} = {{ ipa_realm }}
